<div style="display: flex; justify-content: space-between; background-color: black; padding: 30px;">
    <span><a href="/">🎮</a></span>

    <div style="display: flex; gap: 10px;">
        <button>
            <a href="/store">Store</a>
        </button>

        <button>
            <a href="/login">LogIn</a>
        </button>

        <button>
            <a href="/register">Register</a>
        </button>

        <button>
            <a href="/logout">Logout</a>
        </button>


    </div>

</div>